.card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cam {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}